@import './app/components/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    /* Add global styles here */
}

:root {
    height: 100vh;
    --slsp-purple: rgba(78, 74, 153, 1); // or any global you wish to share with components 
    --slsp-purple-light: #eeeef7;
    --slsp-purple-light-2: #eeeef788;
    --gray-1: #f2f2f2;
    --table-stripe-background: #f3f5f4;
}

cloudapp-alert {
    font-weight: bold;
    position: absolute;
    top: 1rem;
    width: 100%;
    z-index: 99;

    .alert {
        border-radius: 5px;
        padding: 1rem !important;
        margin-right: 10px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

}

@mixin main-component-theme($theme, $typgraphy) {

    .loading-shade {
        flex-direction: column;

        .loading-info {
            margin-top: 1rem;
            padding: 8px;
            padding-right: 16px;
            padding-left: 16px;
            border-radius: 3px;
            font-size: 1.2em;
            color: #ffffff;
            background: mat-color(map-get($theme, primary));
        }
    }
}

.mat-tab-group {
    .mat-tab-header-icon {
        margin-right: 4px;
    }
}

.mat-tab-group {
    height: calc(100vh - 20px);
}

.mat-tab-body-wrapper {
    height: 100%;
}

body .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: rgb(94, 94, 94) !important;
}


.testing-phase {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fdfad6;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}