
.mail-status-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;

    .log-icon-delivered {
        color: #00b300;
    }
    
    .log-icon-not-delivered {
        color: #ff0000;
    }
}