
.mail-status-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    .log-icon-delivered {
        color: #008500;
    }
    
    .log-icon-not-delivered {
        color: #990000;
    }
}