
.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 14px;
    line-height: 1.5rem;
    border-bottom: 3px solid rgba(94, 94, 94);
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: rgb(94, 94, 94);
    
    .back-button {
        position: absolute;
        left: 10px;
        padding: 0.5rem;
        border-radius: 8px;
        cursor: pointer;
        height: auto;
    }
    .nav-header-title {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}