<!-- No Entities visible in Alma UI -->
<ng-container *ngIf="currentEntities.length == 0">
    <h1 class="no-entities-header">
        {{ 'Main.Welcome1' | translate }}
    </h1>
    <p> {{ 'Main.Welcome2' | translate }} </p>
    <p> {{ 'Main.Welcome3' | translate }} </p>
    <ul>
        <li> {{ 'Main.Welcome3a' | translate }}</li>
        <li> {{ 'Main.Welcome3b' | translate }}</li>
        <li> {{ 'Main.Welcome3c' | translate }}</li>
    </ul>
</ng-container>

<!-- Entity Selection -->
<ng-container *ngIf="currentEntities.length > 0">
    <!-- Entity Selection -->
    <mat-radio-group aria-labelledby="entities-radio-group-label" class="entities-radio-group"
        [(ngModel)]="currentSelectedEntity" (change)="entitiesService.selectEntity($event)">
        <mat-radio-button *ngFor="let entity of currentEntities" [value]="entity">
            <ng-container *ngIf="entity.type == 'VENDOR'">
                <span class="entity-code"> 
                    {{entity.code}}
                </span> 
                ({{entity.description}})
            </ng-container>
            <ng-container *ngIf="entity.type == 'USER'">
                {{entity.description}}
            </ng-container>
        </mat-radio-button>
    </mat-radio-group>
</ng-container>