<!-- User Permission Denied -->
<ng-container *ngIf="isUserCheckDone && !isUserAllowed">
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
        </svg> 
        {{ 'Main.AccessDenied1' | translate }}
    </h1>
    <p>{{ 'Main.AccessDenied2' | translate }}</p>
    <span>
        {{ 'Main.AccessDenied3' | translate }}
        <a href="mailto:info@slsp.ch">
            info@slsp.ch</a>.
    </span>
</ng-container>

<!-- User Allowed: Show Entities -->
<ng-container *ngIf="isUserCheckDone && isUserAllowed">
    <!-- No Entities visible in Alma UI -->
    <ng-container *ngIf="(entities$ | async)?.length == 0">
        <h1>
            {{ 'Main.Welcome1' | translate }}
        </h1>
        <p> {{ 'Main.Welcome2' | translate }}</p>
        <ul>
            <li> {{ 'Main.Welcome3' | translate }}</li>
            <li> {{ 'Main.Welcome4' | translate }}</li>
            <li> {{ 'Main.Welcome5' | translate }}</li>
            <li> {{ 'Main.Welcome6' | translate }}</li>
        </ul>
    </ng-container>

    <!-- Entity Selection -->
    <ng-container *ngIf="(entities$ | async)?.length > 0">
        <!-- Navigation header -->
        <app-navigationheader [title]="'Main.Title' | translate" [backButtonClicked]="backButtonClicked"></app-navigationheader>
        
        <!-- Entity Selection -->
        <div>
            <mat-radio-group aria-labelledby="entities-radio-group-label" class="entities-radio-group"
                [(ngModel)]="selectedEntity" (change)="entitySelected($event)">
                <mat-radio-button *ngFor="let entity of entities$ | async" [value]="entity">
                    {{entity.description}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </ng-container>
</ng-container>

<!-- Loading Spinner -->
<div class="loading-shade" *ngIf="loaderService.isLoading | async">
    <mat-spinner diameter="50"></mat-spinner>
    <p class="loading-info">{{ statusService.message | async }}</p>
</div>