<!-- Navigation header -->
<app-navigationheader [title]="currentMailLog.subject"
    [showBackButton]="true" [backButtonClicked]="backButtonClicked">
</app-navigationheader>

<div class="logdetail-info">
    <div class="logdetail-row">
        <span class="logdetail-desc">{{ 'LogDetail.Status' | translate }}:</span>
        <span class="logdetail-val">
            <mail-status-chip [log]="this.currentMailLog" [showText]="true"></mail-status-chip>
        </span>
    </div>
    <div *ngIf="this.currentMailLog.isNotDelivered() && !this.currentMailLog.dismissed" class="logdetail-row logdetail-dismiss">
        <span class="logdetail-desc"></span>
        <div class="logdetail-val">
            <button (click)="onDismissLog()">
                <mat-icon *ngIf="!isLoading">done</mat-icon>
                <mat-spinner *ngIf="isLoading" diameter="18" strokeWidth="2"></mat-spinner>
                {{ 'LogDetail.Dismiss' | translate }}
            </button>
        </div>
    </div>
    <div class="logdetail-row">
        <span class="logdetail-desc">{{ 'LogDetail.Time' | translate }}:</span>
        <span class="logdetail-val">{{ this.currentMailLog.time | momentFormat:'lll' }}</span>
    </div>
    <div class="logdetail-row">
        <span class="logdetail-desc">{{ 'LogDetail.FromEmail' | translate }}:</span>
        <span class="logdetail-val">{{ this.currentMailLog.from_email }}</span>
    </div>
    <div class="logdetail-row">
        <span class="logdetail-desc">{{ 'LogDetail.ToEmail' | translate }}:</span>
        <span class="logdetail-val">{{ this.currentMailLog.to_email }}</span>
    </div>
    <div class="logdetail-row">
        <span class="logdetail-desc">{{ 'LogDetail.Subject' | translate }}:</span>
        <span class="logdetail-val">{{ this.currentMailLog.subject }}</span>
    </div>
    <!-- Opened 
    --- Remove for now
    <div class="logdetail-row">
        <span class="logdetail-desc">{{ 'LogDetail.Opened' | translate }}:</span>
        <span class="logdetail-val">
            <span *ngIf="this.currentMailLog.opens_count > 0">{{ 'LogDetail.OpenedYes' | translate }}</span>
            <span *ngIf="this.currentMailLog.opens_count == 0">{{ 'LogDetail.OpenedNo' | translate }}</span>
        </span>
    </div>
     -->
</div>


<div class="logdetail-events" *ngIf="this.currentMailLog.activity_events.length > 0">
    <div class="logdetail-events-header">
        <span> {{ 'LogDetail.Events' | translate }}: </span>
    </div>
    <div class="logdetail-events-list">
        <div *ngFor="let event of this.currentMailLog.activity_events">
            <div class="logdetail-event">
                <span class="logdetail-event-time"> {{ event.time | momentFormat:'lll' }}:</span>
                <span class="logdetail-event-text"> 
                    <span *ngIf="event.event_name" class="logdetail-event-text-name">{{ event.event_name }}</span>
                    <span *ngIf="event.reason">: {{ event.reason }}</span>
                </span>
            </div>
        </div>
    </div>
</div>
