.logdetail-dismiss {
    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border: 1px solid gray;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        padding-left: 8px;
        padding-right: 8px;
        gap: 4px;
        box-shadow: 0 2px 1px -2px gray;
        width: max-content;

        ::ng-deep {
            .mat-spinner {
                margin: 1px;
            }
            .mat-progress-spinner circle,
            .mat-spinner circle {
                stroke: #000 !important;
            }
        }

        mat-icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }
}

.logdetail-info {
    display: table;
    width: 100%;
}

.logdetail-row {
    display: table-row;
}

.logdetail-desc,
.logdetail-val {
    display: table-cell;
    padding: 5px 10px;
    vertical-align: top;
}

.logdetail-desc {
    font-weight: bold;
    white-space: nowrap;
}

.logdetail-events {
    display: flex;
    flex-direction: column;

    .logdetail-events-header {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid #ccc;
        //text-decoration: underline;
    }

    .logdetail-event {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        .logdetail-event-time {
            font-size: 0.8rem;
            color: #666;
            font-weight: bold;
            text-decoration: underline;
        }

        .logdetail-event-text-name {
            font-weight: 500;
        }
    }

}