.logoverview-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    .logoverview-header {
        padding-bottom: 2px;
        border-bottom: 1px solid #ddd;

        @mixin main-component-theme($theme, $typgraphy) {
            background: mat-color(map-get($theme, primary));
        }
    }
    .logoverview-row:nth-child(even) {
        background-color: var(--table-stripe-background);
    }

    .logoverview-row {
        border-bottom: 1px solid #ddd;
    }

    .logoverview-row:hover {
        background-color: var(--slsp-purple-light);
        cursor: pointer;
    }

    td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    th {
        text-align: left;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    .time-cell {
        display: flex;
        flex-direction: column;

        span {
            white-space: nowrap;
        }
    }

}