<!-- Navigation header -->
<app-navigationheader [title]="currentSelectedEntity.description"
    [showBackButton]="true"
     [backButtonClicked]="backButtonClicked">
</app-navigationheader>

<!-- Log Overview -->
<div class="log-overview" *ngIf="currentMailLogs.length > 0">
    <!-- Table Overview : show time, and subject -->
    <app-log-row *ngFor="let log of this.currentMailLogs" [log]="log" [logClicked]="onLogClicked"></app-log-row>
</div>
<div *ngIf="currentMailLogs.length == 0">
    <h1>{{ 'LogOverview.NoLogs' | translate }}</h1>
</div>