<!-- Navigation header -->
<app-navigationheader [title]="'LogOverview.Title' | translate"
    [showBackButton]="true" [backButtonClicked]="backButtonClicked">
</app-navigationheader>

<!-- Search for emails -->
<!-- 
<div>
    {{ this.currentEmails }}
</div>
-->

<div>
    <!-- Table Overview : show time, and subject -->
    <table class="logoverview-table">
        <thead>
            <tr class="logoverview-header">
                <th scope="col"> </th>
                <th scope="col">{{ 'LogOverview.Time' | translate }} </th>
                <th scope="col">{{ 'LogOverview.Subject' | translate }} </th>
            </tr>
        </thead>
        <tbody>
            <tr class="logoverview-row" *ngFor="let log of this.currentMailLogs" (click)="onLogClicked(log)">
                <!-- Status Icon -->
                <td>
                   <mail-status-chip [log]="log"></mail-status-chip>
                </td>
                <!-- Timestamp -->
                <td>
                    <div class="time-cell">
                        <span>{{ log.time | momentFormat:'ll' }} </span>
                        <span>{{ log.time | momentFormat:'LT' }} </span>
                    </div>
                </td>
                <!-- Subject -->
                <td>
                    <!-- <span>{{ log.subject | truncate:50 }}</span> --> 
                    <span class="subject-cell">{{ log.subject }}</span>

                </td>
            </tr>
        </tbody>
    </table>
</div>