<!-- Info text about testing phase-->
<ng-container>
    <div class="testing-phase">
        <span>Testing period: 14 Oct - 1 Nov </span>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=9E0jO7DyjEuaKgYcB99lDId5V16zGvtAgUOlDSI6vyVUM0dHVkhRSU81NklWTkJBMDE2M1VDWkswTC4u" target="_blank"
           >Please give us feedback.</a>
    </div>
</ng-container>

<!-- Navigation header -->
<app-navigationheader [title]="currentSelectedEntity.description"
    [showBackButton]="true"
     [backButtonClicked]="backButtonClicked">
</app-navigationheader>

<!-- Log Overview -->
<div class="log-overview" *ngIf="currentMailLogs.length > 0">
    <!-- Table Overview : show time, and subject -->
    <app-log-row *ngFor="let log of this.currentMailLogs" [log]="log" [logClicked]="onLogClicked"></app-log-row>
</div>
<div *ngIf="currentMailLogs.length == 0">
    <h1>{{ 'LogOverview.NoLogs' | translate }}</h1>
</div>